@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Pretendard;
}

.flip {
  width: 100vw;
  height: 100vh;
  position: relative;
  perspective: 1100px;
  margin: 2rem;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

.front {
  /* background: tomato; */
}

.back {
  /* background: royalblue; */
  transform: rotateY(180deg);
  color: black;
}

.flip:hover .card {
  transform: rotateY(180deg);
}
