@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Pretendard;
}

.wrapper {
  position: relative;
}
.flip {
  width: 67vw;
  height: 48vh;
  position: relative;
  perspective: 1100px;
  margin: 2rem;
}

@media (min-width: 1800px) {
  .flip {
    width: 79vw;
    height: 48vh;
    position: relative;
    perspective: 1100px;
    margin: 2rem;
  }
}

.Appcard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* margin-top: 100px; */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.front {
  /* background: tomato; */
}

.back {
  /* background: royalblue; */
  transform: rotateY(180deg);
  color: black;
}

.flip:hover .Appcard {
  transform: rotateY(180deg);
}

.test {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.heartContainer {
  position: absolute;
  top: 34px;
  left: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 0 5px;
  transform: rotate(-45deg);
  cursor: pointer;
}

.heart.fill-color {
  background-color: #ff2727;
}

.heart::before {
  position: absolute;
  content: "";
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

.heart::after {
  position: absolute;
  content: "";
  right: -50%;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

.animation-heart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ff2727;
  transform: rotate(-45deg);
  border-radius: 0 0 0 5px;
  cursor: pointer;
  /* animation: popup 0.8s linear; */
  visibility: hidden;
}

.animation-heart.animation {
  animation: popup 0.3s forwards;
  visibility: visible;
}

.animation-heart::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: -50%;
  right: 0;
  background: inherit;
  border-radius: 50%;
}

.animation-heart::before {
  position: absolute;
  content: "";
  top: 0;
  right: -50%;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

@keyframes popup {
  50% {
    transform: scale(1.2) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);

    /* opacity: 0; */
  }
}

.trick {
  position: absolute;
  top: 118px;
  left: 240px;
  z-index: 10;
  background-color: transparent;
  width: 60px;
  height: 60px;
}

.future {
  position: relative;
  top: 100px;
}
